*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #1B2431;
    color: #fff;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.solid-line {
    width: 100%;
    height: 1px;
    background-color: #fff;
    opacity: 0.2;
    margin-top: 20px;
}

.container {
    background-color: #273142;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.weblogo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.text-description{
    color: #6091FF;
    margin-top: 12px;
}


.input-user,
.input-password {
    margin-top: 8px;
    width: 100%;
    padding: 11px 0;
    margin-bottom: 10px;
    border: 1px solid #555;
    border-radius: 10px;
    background-color: #444;
    color: #fff;
}


.btn-dangnhap {
    margin-top: 24px;
    background-color: #007bff;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 19px;
    cursor: pointer;
    width: 100%;
}

.btn-register{
    margin-top: 24px;
    background-color: #3B4352;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 19px;
    cursor: pointer;
    width: 100%;
}

.btn-dangki:hover {
    opacity: 0.8;
}

.btn-login:hover {
    background-color: #007bff;
}

.input-user,
.input-password {
    padding-left: 10px;
}

.password-wrapper {
    position: relative;
}

.input-password {
    padding-left: 10px;
    padding-right: 40px; /* Chừa chỗ cho icon */
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
    opacity: 0.7;
    transition: opacity 0.2s ease;
}

.toggle-password:hover {
    opacity: 1;
}

/* Chế độ hiển thị mật khẩu */
.show-password .toggle-password {
    content: url('assets/img/icons8-show-password-24.png');
}

/* Chế độ ẩn mật khẩu */
.hide-password .toggle-password {
    content: url('assets/img/icons8-hide-password-24.png');
}

input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-credentials-auto-fill-button {
    display: none;
}