* {  
    box-sizing: border-box;  
    margin: 0;  
    padding: 0;  
}  

body {  
    font-family: Arial, sans-serif;  
    background-color: #eaeaea; /* Màu nền nhẹ cho toàn trang */  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    height: 100vh; /* Chiều cao toàn bộ cửa sổ */  
}  

.container {  
    background-color: white; /* B background trắng */  
    border-radius: 8px; /* Bo góc */  
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Đổ bóng với độ mờ cao hơn */  
    padding: 30px; /* Khoảng cách bên trong */  
    width: 320px; /* Chiều rộng của hộp đăng nhập */  
}  

.weblogo-container {  
    text-align: center; /* Căn giữa logo */  
    margin-bottom: 20px; /* Khoảng cách dưới logo */  
}  

.web-logo {  
    max-width: 100px; /* Giới hạn chiều rộng tối đa của logo */  
}  

.solid-line {  
    height: 2px; /* Độ cao của đường ngang */  
    background-color: black; /* Màu đen cho đường ngang */  
    margin-bottom: 20px; /* Khoảng cách dưới đường ngang */  
}  

.input-container {  
    margin-bottom: 15px; /* Khoảng cách giữa các ô nhập */  
    position: relative;
}  

.toggle-password {
    position: absolute;
    top: 70%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
    opacity: 0.88;
    transition: opacity 0.2s ease;
}

.toggle-password:hover {
    opacity: 1;
}

p {  
    margin-bottom: 5px; /* Khoảng cách dưới tiêu đề */  
    font-weight: bold; /* Làm đậm tiêu đề */  
    color: black; /* Màu chữ đen */  
}  

input {  
    width: 100%; /* Độ rộng 100% cho ô nhập */  
    padding: 10px; /* Khoảng cách bên trong */  
    border: 1px solid #ccc; /* Đường viền màu xám nhạt */  
    border-radius: 4px; /* Bo góc ô nhập */  
    font-size: 14px; /* Kích thước chữ */  
    transition: border 0.3s; /* Hiệu ứng chuyển tiếp */  
}  

input:focus {  
    border: 1px solid black; /* Đường viền đen khi ô nhập được chọn */  
    outline: none; /* Không hiển thị đường bao quanh ô nhập */  
}  

button {  
    background-color: black; /* Nền nút đen */  
    color: white; /* Chữ trắng */  
    border: none; /* Không có đường viền */  
    padding: 10px; /* Khoảng cách bên trong */  
    width: 100%; /* Độ rộng 100% */  
    border-radius: 4px; /* Bo góc nút */  
    font-size: 14px; /* Kích thước chữ */  
    cursor: pointer; /* Con trỏ khi di chuột */  
    transition: background-color 0.3s; /* Hiệu ứng chuyển tiếp cho màu nền */  
}  

button:hover {  
    background-color: #333; /* Màu nền khi di chuột vào nút */  
}  

input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-credentials-auto-fill-button {
    display: none;
}